!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Required meta tags always come first
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %title FJ Tax - Free and open source tax return for J-1
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-dark.bg-primary.navbar-fixed-top
      .container
        %button.navbar-toggler.hidden-sm-up{"data-target" => "#exCollapsingNavbar2", "data-toggle" => "collapse", :type => "button"} ☰

        .collapse.navbar-toggleable-xs#exCollapsingNavbar2
          %a.navbar-brand{:href => "#"} FJ Tax
          .nav.navbar-nav.pull-md-right
            %a.nav-item.nav-link.active{:href => "#"}
              Home
              %span.sr-only (current)
            %a.nav-item.nav-link{:href => "#"} FAQ
            %a.nav-item.nav-link{:href => "#"} My Tax Returns
            %a.nav-item.nav-link{:href => "#"} Sign In / Sign Up

            .nav-item.dropdown
              %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                %span.flag-icon.flag-icon-squared{class: "flag-icon-#{I18n.locale}"}
              .dropdown-menu.dropdown-menu-right
                = link_to_locale(I18n.locale)
                .dropdown-divider
                - I18n.available_locales.each do |loc|
                  - unless loc == I18n.locale
                    = link_to_locale(loc)

      =#%p.alert.alert-info= notice
      =#%p.alert.alert-warning= alert


    .container
      .bg
      .jumbotron
        %h1.display-3
          = t 'landing.heading'
        .lead
          = t 'landing.subtitle'

      = yield
